
body {
    background-color: #1d1d1d;
    font-family: "Signika Negative", sans-serif;
    color: #999;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: "Signika Negative", sans-serif;
    color: #f3f2ef;
    font-weight: 400;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

p {
    line-height: 22px;
    margin-bottom: 16px;
}

a {
    color: #88ce02;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    display: inline-block;
    outline: none;
    border: none;
    padding: 8px 14px;
    background: #414141;
    background-image: -webkit-linear-gradient(top, #575757, #414141);
    background-image: -moz-linear-gradient(top, #575757, #414141);
    background-image: -ms-linear-gradient(top, #575757, #414141);
    background-image: -o-linear-gradient(top, #575757, #414141);
    background-image: linear-gradient(to bottom, #575757, #414141);
    text-shadow: 0px 1px 0px #414141;
    -webkit-box-shadow: 0px 1px 0px 414141;
    -moz-box-shadow: 0px 1px 0px 414141;
    box-shadow: 0px 1px 0px 414141;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto 10px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    padding: 12px 25px;
    font-family: "Signika Negative", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
}

button:hover {
    background: #57a818;
    background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
    background-image: -moz-linear-gradient(top, #57a818, #4d9916);
    background-image: -ms-linear-gradient(top, #57a818, #4d9916);
    background-image: -o-linear-gradient(top, #57a818, #4d9916);
    background-image: linear-gradient(to bottom, #57a818, #4d9916);
    text-shadow: 0px 1px 0px #32610e;
    -webkit-box-shadow: 0px 1px 0px #fefefe;
    -moz-box-shadow: 0px 1px 0px #fefefe;
    box-shadow: 0px 1px 0px #fefefe;
    color: #ffffff;
    text-decoration: none;
}

.brandBar {
    position: fixed;
    width: 100%;
    height: 40px;

    z-index: 1000;
    line-height: 40px;
    color: #ccc;
    padding-left: 0px;
}

.brandBar img {
    position: fixed;
    opacity: 0;
}

.brandBar div {
    position: fixed;
    opacity: 0;
}

.wrapper {
    position: absolute;
    padding: 20px;
}

.bocadillo {
    border: #32610e 3px solid;
    border-radius: 22px;
    padding: 10px 20px;
    box-shadow: #1d1d1d 5px 3px;
    background: white;
    font-weight: bold;
    width: auto;
    display: inline-block;
    color: black;
}

#sky {
    background: url("../i/bg.png") repeat 0 0 transparent;
    height: 1000px;
    min-width: 100%;
    position:absolute;
    top:0;
    left:0;
}
