
.box {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 6px;
    margin-top: 4px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: #333;

}

.green {
    background-color: #6fb936;
}

.orange {
    background-color: #f38630;
}

.gray,
.grey {
    background-color: #989898;
}

